<footer>
    <div class="jumbotron front-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <h3>All encounters are reunions after a long separation.</h3>
                    
                    <p>POWER BY <strong>Django</strong></p>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h2>CONTACT US</h2>
                    <ul class="list-unstyled contact-info">
                        <li><a href="https://github.com/RAGNAROSaa/Q-A-online">Github—<strong>Q&A online</strong></a></li>
                        
                    </ul>
                </div>
                <div class="col-md-12 col-xs-12 text-center copy-right">
                    <p>&copy; COPYRIGHT BY SJTU 2016</p>
					<p><a href="http://www.miitbeian.gov.cn/">沪ICP备16042350号-1</a> <p>
                </div>
            </div>
        </div>
    </div>
</footer>