
<div class="col-md-12">

    {% for question in question_list %}
        <div class="col-md-12 col-xs-12 article">
            <div class="col-md-12 col-xs-12">
                <h3><a href="{% url 'question-detail' question.id %}">{{ question.title }}</a></h3>
                <p><span aria-hidden="true"></span>{{ question.publish_time|date:"Y-m-d" }}&nbsp;{{ question.publish_time|time:"H:i" }}</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p>作者：{{ question.author.myuser.nickname }}</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p>回帖数：{{ question.answer_set.count }}</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p>浏览次数：{{ question.show_times }}</p>
            </div>
            <div class="col-md-6 col-xs-6">
                <a href="{% url 'category-question-list' question.category.id %}"><span class="label label-default"><span class="text-left"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&emsp;{{ question.category }}</span></span></a>
            </div>
            <div class="col-md-6 text-right col-xs-6">
                <a role="button" class="btn btn-info btn-xs" href="{% url 'question-detail' question.id %}"><span class="glyphicon glyphicon-console" aria-hidden="true"></span>查看详情</a>
            </div>
        </div>
    {% endfor %}
    {% include 'utils/pagination.html' %}

</div>
